doctype html
html
    head
        title Greetings
        //- link(rel="stylesheet", href="style.css")
    body
        center

            h1 Greetings Earthlings
            p Welcome To My Website
            p Rendered By Pug 
            a(href="//localhost:3000/asdf.jpg") Greetings Pictures
            p Working